#box{position: relative;
    width:1000px;
    height: 600px;
    left:18%;
    top:50px;
        
}


.first img{
    position: absolute;
    width: 300px;
    height: 300px;
    left:200px;
    z-index: 1;
    
}
.second img{
    position: absolute;
    width: 300px;
    height: 200px;
    top:0;
    left:0;
    
}
.third img{
    position: absolute;
    width: 325px;
    height: 185px;
    top:0;
    right:180px;
}
.fourth img{
    position: absolute;
    width: 300px;
    height: 200px;
    bottom:0;
    
    

    
}
.fifth img{ 
    position: absolute;
    width: 320px;
    height:350px;
    right:425px;
    bottom:0;
    z-index: -3;

}
.sixth img{
    position: absolute;
    width:322px;
    height:210px;
    top:185px;
    right:178px;
    z-index: -1;
    
    
    
}
.seventh img{
    position: absolute;
    width:300px;
    height:200px;
    bottom:0;
    top:200px;
}

.eighth img{
    position: absolute;
    width:322px;
    height:220px;
    bottom: 0px;
    left:500px;   
}